/* frontend/src/App.css */
body {
  margin: 0;
  background-color: #f4f4f4;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pokedex-container {
  background-color: #ff1c1c; /* Vermelho Pokédex */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 20px;
}

.pokedex-screen {
  background-color: #222; /* Tela interna */
  border: 10px solid #dedede;
  border-radius: 15px;
  width: 90%;
  max-width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 15px #000;
  margin-top: 20px;
}

.pokedex-text {
  color: #00ff41; /* Verde Matrix/Terminal para a tela */
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding: 15px;
}